# Put it in /etc/systemd/system/

[Unit]
Description=Whatmade Daemon (file origin tracker)
After=network.target

[Service]
Type=simple
ExecStart=/bin/whatmade -n
Restart=on-failure
RestartSec=5

# Security hardening (optional, but good practice)
User=root
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
